input[type="range"] {
  accent-color: #5B75B9;
}

.netlogo-command {
  background-color: #BACFF3;
}

.netlogo-command.netlogo-active, .netlogo-command:active {
  background-color: #1F6A99;
  color: #BACFF3;
}

.netlogo-button.netlogo-disabled:active, .netlogo-forever-button.netlogo-disabled.netlogo-active {
  background-color: #BCBCE5;
  color: #888888;
}

.netlogo-button.interface-unlocked:active {
  background-color: #BACFF3;
  color: #707070
}

.netlogo-input {
  background-color: #BCE4DD;
}

.netlogo-output {
  background-color: #F9EE93;
}

/* .netlogo-tab-area {
  border-color: #3A405A;
  position: absolute;
  right: 0;
  width: 33%;
} */

.netlogo-tab {
  color: #FFF;
  font-size: 16px;
  border-color: #7885BD;
  background-color: #3A405A;
}

.netlogo-tab.netlogo-active {
  background-color: #5A648D;
}

.netlogo-tab:active {
  background-color: #5A648D;
}

.netlogo-tab:hover  {
  background-color: #5A648D;
}

.netlogo-tab.netlogo-active:hover  {
  background-color: #7885BD;
}

.netlogo-tab:not(:last-child) {
  border-color: #7885BD;
}

.netlogo-view-container {
  background-color: inherit;
  /* border: 1px solid #CCCCCC; */
}

.netlogo-powered-by a {
  color: #5B75B9;
}

.netlogo-powered-by a:hover {
  color: #5A648D;
}